# https://coverage.readthedocs.io

[run]
branch = True
#concurrency = threading
source = .

[report]
skip_covered = True
#exclude lines =
    # Have to re-enable the standard pragma
#    pragma: no cover
