
[Desktop Entry]
Name=Wasta Snap Manager
Comment=Selectively manage snap packages offline or online.
Exec=pkexec /usr/bin/wasta-snap-manager
Type=Application
Icon=wasta-snap-manager
Categories=GNOME;GTK;System;Utility;
