Source: wasta-snap-manager
Section: utils
Priority: optional
Maintainer: Nate Marti <nate_marti@sil.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.7
Homepage: https://github.com/wasta-linux/wasta-offline

Package: wasta-snap-manager
Architecture: amd64
Depends: snap-settings, snapd, python3, policykit-1, squashfs-tools, ${misc:Depends}
Conflicts: wasta-offline (<= 2.2.0)
Description: Selectively manage snap packages offline or online.
